---
import Badge from "@/components/Badge";
import PageHeader from "@/components/PageHeader";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
  <PageHeader label="Articles" href="/" />
  <article class="divider flex flex-col gap-4 px-4 py-3">
    <header class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">{entry.data.title}</h1>
      <p class="text-text-muted">
        {entry.data.posted.toISOString().slice(0, 10)}
      </p>
      <ul class="flex flex-wrap gap-2">
        {
          entry.data.tags.map((tag) => (
            <li>
              <Badge label={tag} />
            </li>
          ))
        }
      </ul>
    </header>
    <Content />
  </article>
</Layout>
