---
import Badge from "@/components/Badge";
import Graph from "@/components/Graph";
import PageHeader from "@/components/PageHeader";
import Layout from "@/layouts/Layout.astro";
import { buildGraph, subgraph } from "@/lib/graph";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const scraps = await getCollection("scraps");
  return scraps.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const graph = subgraph(await buildGraph(), entry.id);
---

<Layout title={entry.data.title}>
  <PageHeader label="Scraps" href="/scraps/" />
  <article class="divider flex flex-col gap-4 px-4 py-3">
    <header class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">{entry.data.title}</h1>
      <ul class="flex flex-wrap gap-2">
        {
          entry.data.tags.map((tag) => (
            <li>
              <Badge label={tag} />
            </li>
          ))
        }
      </ul>
    </header>
    <div class="content">
      <Content />
    </div>
  </article>
  <section>
    <h2 class="px-4 py-3 text-xl font-bold">Related Scraps</h2>
    <div class="px-4 pb-3">
      <Graph client:visible graph={graph} />
    </div>
  </section>
</Layout>
