---
import Layout from "@/layouts/Layout.astro";
import Profile from "@/components/Profile";
import Tabs from "@/components/Tabs";
import { getCollection } from "astro:content";

const scraps = await getCollection("scraps");
const entries = scraps.map((entry) => ({
  href: `/scraps/${entry.id}/`,
  title: entry.data.title,
  tags: entry.data.tags,
}));
---

<Layout title="Scraps">
  <Profile />
  <Tabs active="scraps" />
  {entries.map((entry) => <a href={entry.href}>{entry.title}</a>)}
</Layout>
