---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const scraps = await getCollection("scraps");
const entries = scraps.map((entry) => ({
  href: `/scraps/${entry.id}/`,
  title: entry.data.title,
  tags: entry.data.tags,
}));
---

<Layout title="Scraps">
  <h1>Astro</h1>
  <nav>
    <a href="/">Articles</a>
    <a href="/scraps">Scraps</a>
  </nav>
  {entries.map((entry) => <a href={entry.href}>{entry.title}</a>)}
</Layout>
