---
import { getCollection } from "astro:content";
import "@/styles/global.css";

const articles = await getCollection("articles");
const entries = articles
  .toSorted((a, b) => b.data.posted.valueOf() - a.data.posted.valueOf())
  .map((entry) => ({
    href: `/articles/${entry.id}/`,
    title: entry.data.title,
    tags: entry.data.tags,
    posted: entry.data.posted,
  }));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <nav>
      <a href="/">Articles</a>
      <a href="/scraps">Scraps</a>
    </nav>
    {entries.map((entry) => <a href={entry.href}>{entry.title}</a>)}
  </body>
</html>
