---
import Layout from "@/layouts/Layout.astro";
import Profile from "@/components/Profile";
import Tabs from "@/components/Tabs";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
const entries = articles
  .toSorted((a, b) => b.data.posted.valueOf() - a.data.posted.valueOf())
  .map((entry) => ({
    href: `/articles/${entry.id}/`,
    title: entry.data.title,
    tags: entry.data.tags,
    posted: entry.data.posted,
  }));
---

<Layout>
  <Profile />
  <Tabs active="articles" />
  {entries.map((entry) => <a href={entry.href}>{entry.title}</a>)}
</Layout>
